body {
  font-family: sans-serif;
}

p {
  margin-bottom: 0;
}

#timestamp {
  color: #666;
  font-style: italic;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 100;
}

.overview {
  border: 1px solid #cc6;
  background: #ffd;
  padding: 8px;
  margin-left: 16px;
  float: left;"
}

.overview_table th {
  font-weight: normal;
  padding-bottom: 4px;
}
.overview_table td {
  font-style: italic;
}
.percent {
  padding-left: 8px;
  text-align: right;
}
.overview_table .value {
  padding-left: 8px;
  text-align: right;
}

.cost {
  font-family: monospace;
  padding: 2px 5px;
  display: block;
  float: right;
  border: 1px dotted red;
  background-color: pink;
}

.odd {
  background-color: lightgray;
}

.header {
  font-weight: bold;
}

tt {
  font-size: larger;
}

.classExplanation {
  border: 1px solid gray;
  padding: 7px;
  margin-left: 1em;
}

.issuesExplanation {
  border: 1px dotted gray;
  margin: 0.5em;
  padding: 0.5em;
}

.contribution {
  font-size: 0.8em;
  text-align: right;
}

.copyright {
  text-align: center;
  margin-top: 32px;
}