<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="testabilityLaunchListener" name="Testability Launch Listener" schema="schema/testability.launch.listener.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchModes">
      <launchMode
            label="Testability"
            mode="testability">
      </launchMode>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.google.test.metric.eclipse.internal.core.TestabilityLauncher"
            id="com.google.test.metric.eclipse.core.launchTestabilityConfigurationType"
            modes="testability"
            name="Testability">
      </launchConfigurationType>
   </extension>
</plugin>
