<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/blank.jpg"
            id="com.google.test.metric.eclipse.ui.launchGroup.testability"
            image="icons/blank.jpg"
            label="Testability"
            mode="testability">
      </launchGroup>
   </extension>


  <extension point="org.eclipse.ui.actionSets">
      <actionSet
                id="com.google.test.metric.eclipse.ui.TestabilityActionSet"
                label="Testability"
                visible="true">
             <menu
                   id="org.eclipse.ui.run"
                   label="Run"
                  path="additions">
               <separator name="relaunchGroup"/>
               <separator name="emptyLaunchGroup"/>
               </menu>
                <action
                      class="com.google.test.metric.eclipse.ui.actions.TestabilityConfigurationsAction"
                      id="com.google.test.metric.eclipse.ui.actions.testability.configurations"
                      label="Testability Configurations..."
                      menubarPath="org.eclipse.ui.run/emptyLaunchGroup">
                </action>
             <action
                   class="com.google.test.metric.eclipse.ui.actions.TestabilityHistoryAction"
                   id="com.google.test.metric.eclipse.ui.actions.testability.history"
                   label="Testability History"
                   menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
                   pulldown="true"
                   state="true"
                   style="pulldown">
             </action>
</actionSet>
</extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
     <launchConfigurationTabGroup
           class="com.google.test.metric.eclipse.ui.TestabilityLaunchConfigurationTabGroup"
           id="com.google.test.metric.eclipse.ui.testabilityLaunchConfigurationTabGroup"
           type="com.google.test.metric.eclipse.core.launchTestabilityConfigurationType">
        <launchMode
              mode="testability">
        </launchMode>
     </launchConfigurationTabGroup>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTabs">
     <tab
           class="com.google.test.metric.eclipse.ui.TestabilityLaunchConfigurationTab"
           group="com.google.test.metric.eclipse.ui.testabilityLaunchConfigurationTabGroup"
           id="com.google.test.metric.eclipse.ui.testabilityTab"
           name="Testability">
     </tab>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           class="com.google.test.metric.eclipse.ui.TestabilityReportView"
           id="com.google.test.metric.eclipse.ui.browserview"
           name="Testability Report"
           restorable="true">
     </view>
     <view
           class="com.google.test.metric.eclipse.ui.markers.TestabilityView"
           id="com.google.test.metric.eclipse.ui.testabilityView"
           name="Testability View"
           restorable="true">
     </view>
  </extension>
  <extension
        point="com.google.test.metric.eclipse.core.testabilityLaunchListener">
     <testabilityLaunchListener
           class="com.google.test.metric.eclipse.ui.internal.TestabilityReportLaunchListener">
     </testabilityLaunchListener>
  </extension>
  <extension
        id="testabilityMarker"
        name="Testability"
        point="org.eclipse.core.resources.markers">
     <persistent
           value="true">
     </persistent>
  </extension>
  <extension
        id="teMarkerSupport"
        name="teMarkerSupport"
        point="org.eclipse.ui.ide.markerSupport">
     <markerContentGenerator
           defaultMarkerGrouping="com.google.test.metric.eclipse.ui.testabilityMarkerGrouping"
           id="com.google.test.metric.eclipse.ui.testabilityMarkerContentGenerator"
           name="testabilityMarkerContentGenerator">
        <markerFieldReference
              id="com.google.test.metric.eclipse.ui.testabilityDescriptionMarkerField"
              visible="true">
        </markerFieldReference>
        <markerFieldReference
              id="com.google.test.metric.eclipse.ui.testabilityResourceMarkerField"
              visible="true">
        </markerFieldReference>
        <markerFieldReference
              id="com.google.test.metric.eclipse.ui.testabilityPathMarkerField"
              visible="true">
        </markerFieldReference>
        <markerFieldReference
              id="com.google.test.metric.eclipse.ui.testabilityLineNumberMarkerField"
              visible="true">
        </markerFieldReference>
        <markerFieldReference
              id="com.google.test.metric.eclipse.ui.testabilityIssueTypeMarkerField"
              visible="true">
        </markerFieldReference>
        <markerTypeReference
              id="com.google.test.metric.eclipse.ui.testabilityMarker">
        </markerTypeReference>
        <markerGrouping
              id="com.google.test.metric.eclipse.ui.testabilityMarkerGrouping"
              label="Testability">
           <markerGroupingEntry
                 id="com.google.test.metric.eclipse.ui.collaboratorGroupingEntry"
                 label="Collaborator"
                 priority="1">
           </markerGroupingEntry>
           <markerAttributeGrouping
                 attribute="issueType"
                 defaultGroupingEntry="issueType"
                 markerType="com.google.test.metric.eclipse.ui.testabilityMarker">
              <markerAttributeMapping
                    markerGroupingEntry="com.google.test.metric.eclipse.ui.constructionGroupingEntry"
                    value="CONSTRUCTION">
              </markerAttributeMapping>
              <markerAttributeMapping
                    markerGroupingEntry="com.google.test.metric.eclipse.ui.directCostGroupingEntry"
                    value="DIRECT_COST">
              </markerAttributeMapping>
              <markerAttributeMapping
                    markerGroupingEntry="com.google.test.metric.eclipse.ui.collaboratorGroupingEntry"
                    value="COLLABORATOR">
              </markerAttributeMapping>
           </markerAttributeGrouping>
           <markerGroupingEntry
                 id="com.google.test.metric.eclipse.ui.constructionGroupingEntry"
                 label="Construction"
                 priority="1">
           </markerGroupingEntry>
           <markerGroupingEntry
                 id="com.google.test.metric.eclipse.ui.directCostGroupingEntry"
                 label="Direct Cost"
                 priority="1">
           </markerGroupingEntry>
        </markerGrouping>
     </markerContentGenerator>
     <markerField
           class="com.google.test.metric.eclipse.ui.markers.TestabilityDescriptionMarkerField"
           id="com.google.test.metric.eclipse.ui.testabilityDescriptionMarkerField"
           name="Description">
     </markerField>
     <markerField
           class="com.google.test.metric.eclipse.ui.markers.TestabilityResourceMarkerField"
           id="com.google.test.metric.eclipse.ui.testabilityResourceMarkerField"
           name="Resource">
     </markerField>
     <markerField
           class="com.google.test.metric.eclipse.ui.markers.TestabilityPathMarkerField"
           id="com.google.test.metric.eclipse.ui.testabilityPathMarkerField"
           name="Path">
     </markerField>
     <markerField
           class="com.google.test.metric.eclipse.ui.markers.TestabilityLineNumberMarkerField"
           id="com.google.test.metric.eclipse.ui.testabilityLineNumberMarkerField"
           name="Line Number">
     </markerField>
     <markerField
           class="com.google.test.metric.eclipse.ui.markers.TestabilityIssueTypeMarkerField"
           id="com.google.test.metric.eclipse.ui.testabilityIssueTypeMarkerField"
           name="Issue Type">
     </markerField>
     <markerTypeCategory
           name="Testability Type">
        <markerTypeReference
              id="com.google.test.metric.eclipse.ui.testabilityMarker">
        </markerTypeReference>
     </markerTypeCategory>
  </extension>
  <extension
        point="org.eclipse.ui.ide.markerImageProviders">
     <imageprovider
           class="com.google.test.metric.eclipse.ui.markers.TestabilityMarkerImageProvider"
           id="com.google.test.metric.eclipse.ui.testabilityMarkerImageProvider"
           markertype="com.google.test.metric.eclipse.ui.testabilityMarker">
     </imageprovider>
  </extension>
  <extension
        point="org.eclipse.ui.editors.annotationTypes">
     <type
           markerSeverity="0"
           markerType="com.google.test.metric.eclipse.ui.testabilityMarker"
           name="com.google.test.metric.eclipse.ui.testabilityAnnotationType"
           super="org.eclipse.jdt.ui.info">
     </type>
  </extension>
  <extension
        point="org.eclipse.ui.editors.markerAnnotationSpecification">
     <specification
           annotationImageProvider="com.google.test.metric.eclipse.ui.markers.TestabilityMarkerImageProvider"
           annotationType="com.google.test.metric.eclipse.ui.testabilityAnnotationType"
           colorPreferenceKey="testabilityAnnotationType_colorPreferenceKey"
           colorPreferenceValue="0,0,0"
           contributesToHeader="false"
           highlightPreferenceKey="testabilityAnnotationType_highlightPreferenceKey"
           highlightPreferenceValue="false"
           icon="icons/projects.gif"
           includeOnPreferencePage="true"
           isGoToNextNavigationTarget="false"
           isGoToNextNavigationTargetKey="testabilityAnnotationType_isGoToNextNavigationTargetKey"
           isGoToPreviousNavigationTarget="false"
           isGoToPreviousNavigationTargetKey="testabilityAnnotationType_isGoToPreviousNavigationTarget"
           label="Testability"
           overviewRulerPreferenceKey="testabilityAnnotationType_overviewRulerPreferenceKey"
           overviewRulerPreferenceValue="true"
           presentationLayer="2"
           showInNextPrevDropdownToolbarAction="false"
           showInNextPrevDropdownToolbarActionKey="testabilityAnnotationType_showInNextPrevDropdownToolbarActionKey"
           textPreferenceKey="testabilityAnnotationType_textPreferenceKey"
           textPreferenceValue="false"
           textStylePreferenceKey="testabilityAnnotationType_textStylePreferenceKey"
           textStylePreferenceValue="NONE"
           verticalRulerPreferenceKey="testabilityAnnotationType_verticalRulerPreferenceKey"
           verticalRulerPreferenceValue="true">
     </specification>
  </extension>


</plugin>
